/*---------- Font-Weight Variables ----------*/
$font-regular: normal;
$font-semi-bold: 600;
$font-bold: bold;
$font-extra-bold: 800;

/*---------- Border-Radius Variables ----------*/
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 16px;
$radius-full: 100%;

/*---------- Colors Variables ----------*/
$blue-primary: #3f8ae0;
$black-primary: #1c1819;

$text-color: #1c1819;

$light-blue: #d8e1f8;
$light-gray: #f5f5f5;
$gray-400: #f3f2f2;

$black: #000000;
$white: #ffffff;
$gray: #6d7885;
/*---------- Media-Size Variables ----------*/
$max-size: 768px;
