/*---------- Font-Weight Variables ----------*/
$font-normal: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;

/*---------- Border-Radius Variables ----------*/
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 16px;
$radius-full: 100%;

/*---------- Colors Variables ----------*/
$blue-primary: #21397d;
$yellow-primary: #ffdb00;

$black: #000000;
$white: #ffffff;
$white-smoke: #efecf7;
$gray-silver: #b4b2be;

$text-color: #43444a;

/*---------- Media-Size Variables ----------*/
$max-size: 768px;
