/*---------- Font-Weight Variables ----------*/
$font-normal: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;

/*---------- Border-Radius Variables ----------*/
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 16px;
$radius-full: 100%;

/*---------- Colors Variables ----------*/
$blue-primary: #2a81dd;
$yellow-primary: #ffdb00;

$black: #000000;
$white: #ffffff;
$lavender: #f0eaff;
$white-smoke: #f1f3fd;
$gray-silver: #b4b2be;

$text-color: #43444a;
$text-blue-color: #1d1d41;
$text-gray-color: #a5a5a5;

/*---------- Media-Size Variables ----------*/
$max-size: 768px;
